@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TIUP 登录演示</h1>
    <p class="lead">TIUP SSO SDK 可以更方便地让您的应用使用 TIUP 帐号登录, 这是一个ASP.Net应用示例.</p>
    <p><a href="http://tiup.tiup.cn" class="btn btn-primary btn-lg">TIUP 登录 &raquo;</a></p>
</div>

//从全局Filter中获取用户信息

<div>
    <h4>已登录用户: 信息</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>姓名:</dt>
        <dd>苏娇</dd>
        <dt>用户ID:</dt>
        <dd>13213</dd>
        <dt>学校内部ID:</dt>
        <dd>1321334324324</dd>
    </dl>
</div>